/data/text/
/data/auth_embedding.tsv
/data/auth_embedding.txt
/data/auth_metadata.csv
/data/auth_metadata.tsv
/data/gene_embedding.tsv
/data/gene_metadata.tsv
/data/metadata-edited.tsv
/data/out.csv
/data/pbta-gene-expression-kallisto.stranded.rds
/data/test.parquet
/data/torch_model
/data/transcript_embedding.tsv
/data/transcript_metadata.tsv
/data/venue_embedding.tsv
/data/venue_metadata.tsv
/data/AMiner/
/data/embeddings/
/data/PBTA/raw/id_gene.txt
/data/PBTA/raw/id_sample.txt
/data/PBTA/raw/id_transcript.txt
/data/PBTA/raw/sample_transcript.parquet
/data/PBTA/raw/sample_transcript.txt
/data/PBTA/raw/transcript_gene.txt
/data/PBTA/processed/data.pt
/data/PBTA/processed/pre_filter.pt
/data/PBTA/processed/pre_transform.pt
/src/metapath2vec.py
